@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    font-family: "roboto", sans-serif ;
    font-size: 20px;
    color: #1f2937;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 15px 130px 15px 35px;
    margin :0;
    font-size: 24px;
}

.small-font{
    font-size: 18px;
    color: #f9faf8;
}

a{
    text-decoration: none;
    color: rgb(223, 223, 223);
    margin: 6px;
}

h1{
    margin: 0;
}

.section1{
    background-color: #1f2937;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 45px 130px 45px 35px;
    gap: 120px;
}

.section2{
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0;
    
}

.section3{
    background-color: #E5E7EB;
    padding: 100px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#author-quote{
    align-self: flex-end;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

#quote{
    font-style: italic;
    font-weight:light;
    font-size: 36px;
    color: #1f2937;
}

#container2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero{
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

#img1{
    width: 485px;
}

#header2{
    display: block;
    text-align: center;
}

.section2b{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 25px;


}

.container2
{
    flex: 1 1 ;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

img{
    border-radius: 25px;
}


.container2 p{
    text-align: center;
}

.section4{
    margin: 77px 100px;
    background-color: #3882f6;
    padding: 35px 0;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-size: 20px;
}